*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;

}
body{
  background: #222;

}

.main{
  width: 90%;
  max-width: 470px;
  background-color: rgb(97, 97, 229);
  color: #fff;
  margin: 100px auto 0; //center
border-radius: 10px;
padding: 40px 35px ;
text-align:center;

}
.main{
  border-radius:20px ;
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.search input{
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 30px;
 font-size: 18px;
 margin-left: 30px;

}
.search button{
  border: 0;
    outline: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 25px;
}

.search button img{
width: 20px;
}

.weather-icon{
  width: 170px;
  margin-top: 30px;
  
}

.weather h1{
  font-size: 60px;
  font-weight: 500px;
}

.weather h2{
  font-size: 30px;
    font-weight: 200px;
    margin-top: -10px;
}

.details{
  display: flex;
    align-items: center;
    justify-content: space-between;
}

.hot img{
width: 70px;

}
.weather{
  display: none;

}
